<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <title>REST API</title>
        <style>
         [v-cloak] {
             display: none;
         }
        </style>
    </head>
    <body>

        <div class="container pt-5" id="app" v-cloak>
            <h1>REST API</h1>
            <form class="form-inline mb-3" @submit.prevent="createContact">
                <label class="sr-only" for="name">Name</label>
                <input type="text" class="form-control" id="name" v-model="form.name" placeholder="">

                <label class="sr-only" for="value">Value</label>
                <div class="input-group mb-2 mr-sm-2">
                    <input type="text" class="form-control" id="value" v-model="form.value" placeholder="">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Create</button>
            </form>

            <div v-if="contacts.length">
                <div class="card text-white bg-dark mb-3" v-for="contact in contacts">
                    <div class="card-body">
                        <h5 class="card-title">{{contact.name}}</h5>
                        <p class="card-text">{{contact.value}}</p>
                        <button class="btn btn-secondary mb-2">Cancel</button>
                        <button class="btn btn-danger mb-2">Delete</button>
                    </div>
                </div>
            </div>
            <p v-else>Not found contacts</p>
        </div>
        
        <script type="module" src="frontend.js"></script>
    </body>
</html>
